.slider__wrapper {
    width: 100vw;
    height: 100vh;
    animation: init .5s ease-in;
}

@keyframes init {
    from {
        margin-top: 350px;
    }
    to {
        margin-top: 0;
    }
}

.range__wrapper {
    position: absolute;
    left: 50%;
    bottom: 5%;
    transform: translateX(-50%);
}

.range {
    appearance: none;
    width: 620px;
    border-color: #000;
    height: 13px;
    background: #435063;
}


.range::-webkit-slider-thumb {
    appearance: none;
    height: 60px;
    width: 45px;
    background: url("./assets/Polygon.png") center / cover no-repeat;
}

.range__years {
    display: flex;
    justify-content: space-between;
    color: #d1eaff;
    font-size: 20px;
    margin-top: 20px;
}
