
.header__block {
    position: absolute;
    top: 115px;
    left: 85px;
}

.wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    background: url("assets/slide2.jpg") center / cover;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    font-size: 30px;
}

.number {
    font-size: 40px;
    padding: 2px;
    display: block;
}

.routes {
    display: grid;
    height: 70%;
    width: 75%;
    grid-template-areas:
            "a  a  b  c  c"
            "a1 b1 b1 b1 c1"
            ". a2 b2 c2 .";
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: repeat(3, 1fr);
    font-size: 20px;
}

.item {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    position: relative;
}

.item2, .item7, .item8, .item9 {
    flex-direction: column;
    text-align: center;
}

.item1, .item3 {
    align-items: flex-end;
    margin-bottom: 20px;
}

.item1, .item4 {
    text-align: right;
}

.item1 {
    grid-area: a;
    margin-left: 7%;
}

.item2 {
    grid-area: b;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.item3 {
    grid-area: c;
    margin-left: -20%;
}

.item4 {
    grid-area: a1;
}

.item5 {
    grid-area: b1;
}

.item6 {
    grid-area: c1;
}

.item7 {
    grid-area: a2;
}

.item8 {
    grid-area: b2;
}

.item9 {
    grid-area: c2;
}


.bubble {
    font-size: 62px;
    position: relative;
    z-index: 2;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bubble::after {
    content: '';
    display: block;
    width: 60px;
    height: 60px;
    z-index: -1;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    background: #404482;
    border-radius: 100%;
}

.hypo__block {
    height: 142px;
    width: 386px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    font-size: 25px;
}

.arrow {
    position: absolute;
    width: 20px;
    height: 1px;
    background: white;
}

.item1__arrow {
    top: 170px;
    left: 200px;
    transform: rotate(90deg);
}

.item2__arrow {
    top: 170px;
    left: 65px;
    transform: rotate(90deg);
}

.item3__arrow {
    top: 170px;
    left: 135px;
    transform: rotate(90deg);
}

.item4__arrow {
    top: 50%;
    left: 100%;
    transform: rotate(0deg);
}

.item6__arrow {
    top: 50%;
    left: -20%;
    transform: rotate(180deg);
}

.item7__arrow {
    top: 5px;
    left: 65px;
    transform: rotate(-90deg);
}

.item8__arrow {
    top: 5px;
    left: 65px;
    transform: rotate(-90deg);
}

.item9__arrow {
    top: 5px;
    left: 65px;
    transform: rotate(-90deg);
}

.arrow:after,
.arrow:before {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border: 40px solid transparent;
    border-right: 0;
}

.arrow::after {
    top: -5px;
    right: -10px;
    border-left-color: white;
    border-width: 6px 0 6px 20px;
}
